<!DOCTYPE html>
<html>
<head>
    <title>Grocery Store Tracker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="content">
        <nav>
            <a href="/">Home</a>
            {% if current_user.is_authenticated %}
                <a href="/new_store">New Store</a>
                <a href="/new_item">New Item</a>
                <a href="/shopping_list">My Shopping List</a>
                <a href="/logout">Log Out ({{ current_user.username }})</a>
            {% else %}
                <a href="/login">Log In</a>
                <a href="/signup">Sign Up</a>
            {% endif %}
        </nav>

        {% for message in get_flashed_messages() %}
        <p class="message">{{ message }}</p>
        {% endfor %}

        {% block content %}{% endblock %}
    </div>
</body>
</html>